@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome";

@import "custom-components/reset",
				"custom-components/variables",
				"custom-components/type",
				"custom-components/navbar",
				"custom-components/carousel";

body {
  color: #5a5a5a;
	font-family: 'lato-regular';
  padding-bottom: 40px;
}

.marketing {
  .box {
    margin-bottom: 20px;
    text-align: center;
  }

	h2 {
    font-weight: normal;
  }

	.col-lg-4 p {
		margin-left: 10px;
    margin-right: 10px;

  }
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
	letter-spacing: -1px;
  line-height: 1;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
