
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #777;
  height: 500px;

}

.carousel-inner > .item > img {
  height: 500px;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
}


@media (min-width: 768px) {
  .carousel-caption p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}
