
.navbar {
	&.navbar-default {
	    background-color: #fff;
	    min-height: 110px;
    	box-shadow: 0 0 10px #3d3d3d;
	}
	.navbar-brand{
		margin: 15px 10px;
	}
	.navbar-menu {
		margin: 40px 10px 10px 10px;
		li {
			margin: 10px;
			a {
				font-family: 'Omnes-Light', Helvetica, Arial;
				text-transform: uppercase;
				padding: 0px 0px 3px 0;
				&:hover,
				&.active {
					border-bottom: 3px solid $primary-blue;
				}
			}
		}
	}
	.navbar-social {
		margin: 30px 10px;
		li {
			margin: 10px 3px;
			a {
				display: block;
				width: 40px;
				height: 40px;
				background-position: top;
				background-repeat: no-repeat;
				&:hover,
				&.active {
					background-position: bottom;
				}
				&.social-facebook { background-image: url($image-path + 'imgSocial-Facebook.png'); }
				&.social-instagram { background-image: url($image-path + 'imgSocial-Instagram.png'); }
				&.social-twitter { background-image: url($image-path + 'imgSocial-Twitter.png'); }
				&.social-linkedin { background-image: url($image-path + 'imgSocial-Linkedin.png'); }
			}
		}
	}
}

@media (max-width: 768px) { 
	.navbar-brand{
		margin: 20px 5px;
		width: 210px;
	}
	.navbar-toggle {
		margin: 40px 5px 40px 0;
	}
	.navbar-menu {
		margin: 10px;
		li {
			height: 22px;	
		}
	}
	.navbar-social {
		margin: 10px auto;
		list-style: none;
		li {
			display: inline-block;	
		}
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.navbar-menu {
		margin: 5px !important;
		height: 30px !important;
	}
	.navbar-social {
		margin: 5px !important;
	}
}